/* App */
body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	background-color: var(--background);
	padding: 10px;
	height: calc(100vh - 20px);
	color: var(--white);
}
:focus {
	outline: none !important;
}

/* Default button */
button {
	position: relative !important;
	overflow: hidden !important;
	border: 1px solid var(--gray);
	border-radius: 4px;
	padding: 10px 15px;
	background-color: var(--background);
	cursor: pointer;
}
button:after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(-100% - 60px);
	width: calc(100% + 60px);
	height: 100%;

	background: rgba(255, 255, 255, 0.01);
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.01) 0%,
			rgba(255, 255, 255, 0.05) 77%,
			rgba(255, 255, 255, 0.2) 92%,
			rgba(255, 255, 255, 0.0) 100%
	);
}
button:hover:after {
	left: 0;
	transition-property: left, opacity;
	transition-duration: .7s, .7s, 0.15s;
	transition-timing-function: ease;
}
button:active:after {
	opacity: 0;
}
