/* width & height*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-dark);
	border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--tertiary);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--tertiary-dark);
}
