:host {
	display: grid;
	align-items: center;
	justify-content: center;
}
[navigation] {
	display: flex;
}
[heading] {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-dark);
	border-radius: 4px 4px 0 0;
	margin-top: 20px;
	padding: 20px 10px;
}
[day] {
	font-weight: bold;
	font-size: 120%;
	margin-left: 10px;
	color: var(--primary);
}
[stocks] {
	display: grid;
	max-width: 800px;
	min-width: 500px;
	padding: 10px;
	border: 1px solid var(--background-dark);
	border-radius: 0;
}
[stock] {
	display: grid;
	grid-template-columns: minmax(100px, 1fr) 100px minmax(75px, .5fr) minmax(75px, .5fr) 100px 70px;
	grid-gap: 5px;
	padding: 10px;
	border-bottom: 1px solid var(--gray-dark);
}
[stock]:last-child {
	border-bottom: none;
}
[stock-heading] {
	font-weight: bold;
	border-bottom: 1px solid var(--primary);
	color: var(--primary);
}
[footer] {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-dark);
	padding: 10px;
	border-radius: 0 0 4px 4px;
	color: var(--gray);
}
