<div navigation>
	<app-button
		[color]="'red'"
		(click)="previousDay()">
		- 1 Day
	</app-button>
	<span fill-space></span>
	<app-button
		[color]="'green'"
		(click)="nextDay()">
		+ 1 Day
	</app-button>
</div>
<div heading>
	STOCK PLAYGROUND Day: <span day>{{ day }}</span>
</div>
<div
	@list
	*ngIf="stocks.length > 0"
	stocks>
	<div stock stock-heading>
		<div>Name</div>
		<div>Symbol</div>
		<div>Initial price</div>
		<div>Current price</div>
		<div>Change $</div>
		<div>Change %</div>
	</div>
	<div
		@item
		*ngFor="let stock of stocks"
		stock>

		<div>
			{{ stock.name }}
		</div>
		<div>
			{{ stock.symbol }}
		</div>
		<div>
			{{stock.price }}$
		</div>
		<div>
			{{ stock.currentPrice }}$
		</div>
		<div [ngClass]="{'c-red': stock.change < 0, 'c-green': stock.change > 0}">
			{{ stock.change }}$
		</div>
		<div [ngClass]="{'c-red': stock.fluctuation < 0, 'c-green': stock.fluctuation > 0}">
			{{ stock.fluctuation }}%
		</div>

	</div>
</div>
<div footer>
	{{ date | date: 'EEEE, MMMM d, y' }}
</div>
